openai
streamlit
langchain_core
langchain_community
langgraph
faiss-cpu
streamlit-ace
streamlit_ace
wavedrom
CairoSVG
cairosvg
cairosvg
streamlit-aggrid
streamlit-tree-select
numpy
opencv-python-headless
